<!-- <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="col-md-4">Book Name</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Author Name </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Serial Number </label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Business</button>
        </div>
      </form>
    </div>
  </div>
   -->
  <div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Book Name</label>
          <input type="text" class="form-control" formControlName="book_name" #book_name />
        </div>
        <div *ngIf="angForm.controls['book_name'].invalid && (angForm.controls['book_name'].dirty || angForm.controls['book_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['book_name'].errors.required">
            Book Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Author Name </label>
          <input type="text" class="form-control" formControlName="author_name" #author_name />
        </div>
        <div *ngIf="angForm.controls['author_name'].invalid && (angForm.controls['author_name'].dirty || angForm.controls['author_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['author_name'].errors.required">
            AUthor name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Serial Number </label>
          <input type="text" class="form-control" formControlName="serial_number" #serial_number />
        </div>
        <div *ngIf="angForm.controls['serial_number'].invalid && (angForm.controls['serial_number'].dirty || angForm.controls['serial_number'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['serial_number'].errors.required">
            Serial Number is required.
          </div>
        </div>
        <div class="form-group">
            <button (click)="addBook(book_name.value, author_name.value, serial_number.value)"
                    
                [disabled]="angForm.pristine || angForm.invalid" 
                class="btn btn-primary">
                Add Book
             </button>
        </div>
      </form>
    </div>
  </div>
